body {
  font-family: "Lato";
}

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  z-index: 15;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

.brl, .brl_100 {
  display: block;
  position: relative;
  float: left;
}

.brl_100 {
  width: 100%;
}

.container {
  width: 50%;
  height: 100%;
  padding: 0 16px;
  overflow-y: auto;
}

.container:first-of-type {
  box-shadow: 2px 0 0 0 #e6e6e6;
}

.title {
  background: #fff;
  width: 100%;
  padding: 16px 0;
  top: 0;
  left: 0;
  display: block;
  position: sticky;
  text-align: center;
  z-index: 10;
  box-shadow: 0 8px 6px -6px #999;
}

.article {
  padding: 100px 0 0 0;
}

details {
  padding: 16px 0;
}

summary {
  background: #f1f1f1;
  padding: 8px;
  font-weight: 900;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 6px -6px #dbdbdb;
}

summary::before {
  top: 50%;
  right: 8px;
  display: block;
  position: absolute;
  font-size: 20px;
  font-weight: 900;
  transform: translate(0, -50%);
  content: "+";
}

summary:focus::before {
  content: "-";
}

.content {
  padding: 0 16px;
}

.content::before, .content::after {
  width: 16px;
  display: block;
  position: absolute;
  border-bottom: 8px solid transparent;
  content: "";
}

.content::before {
  left: 0;
  border-right: 16px solid #dbdbdb;
}

.content::after {
  right: 0;
  border-left: 16px solid #dbdbdb;
}

.content div {
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

p, ol, table {
  font-size: 14px;
}

ol {
  margin: 0;
  padding: 0 16px;
  list-style-position: outside;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table, th, td {
  border: 1px solid #a3a3a3;
}

tr:nth-child(even) {
  background: #f1f1f1;
}

.browser th:nth-child(1) {
  width: 20%;
}

.browser th:nth-child(n+2) {
  width: 16%;
}

.attribute th {
  width: calc(100% / 3);
}

th, td {
  height: 40px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    height: auto;
  }

  .container:first-of-type {
    box-shadow: none;
  }

  /*
  .article {
    padding: 50px 0 100px 0;
  }
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
